<a href="https://colab.research.google.com/github/Gauravmehra1/Airbnb/blob/main/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given an Order Table with the schema (id, user_id, total, created). Write a SQL Query to create a retention plot. The format for the raw data and output are given.  Refer to Q1.xlsx file


Week Start Date is the 1st Week in which the User_Id Placed the order, Week 0 is Unique User ids who placed their 1st Order in this week. Out of those ids, Week 1 is unique users who placed an order in 1st Week + 1, Then Week 2 is 1st Week + 2 and so on till Week 10.

In [ ]:
show datestyle
set datestyle to german

CREATE table q1(
    id integer,
    user_id integer,
    total integer,
    created timestamptz 
)

select * from q1

/* answer 1 */    
    
CREATE TEMPORARY table g1 as
select user_id , min(date_part('week',created)) as first_week from q1
group by user_id

select * from g1 order by user_id

CREATE TEMPORARY table all_weeks as 
select user_id, date_part('week',created) as login_week from q1
group by user_id,login_week

select * from all_weeks order by user_id 

create TEMPORARY table week_diff as 
select a.user_id, a.login_week,b.first_week, a.login_week - b.first_week as week_number
from all_weeks a
inner join g1 b
on a.user_id = b.user_id 

select * from week_diff 

SELECT first_week,
    sum(case when week_number=0 then 1 else 0 end) as week_0,
	sum(case when week_number=1 THEN 1 else 0 end) as week_1,
	sum(case when week_number=2 THEN 1 else 0 end) as week_2,
	sum(case when week_number=3 THEN 1 else 0 end) as week_3,
	sum(case when week_number=4 THEN 1 else 0 end) as week_4,
	sum(case when week_number=5 THEN 1 else 0 end) as week_5,
	sum(case when week_number=6 THEN 1 else 0 end) as week_6,
	sum(case when week_number=7 THEN 1 else 0 end) as week_7,
	sum(case when week_number=8 THEN 1 else 0 end) as week_8,
	sum(case when week_number=9 THEN 1 else 0 end) as week_9,
	sum(case when week_number=10 THEN 1 else 0 end) as week_10
	
from week_diff	
group by first_week 
order by first_week